@import "variables";

body {
  font-family: 'Lora', 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Poppins Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.5px;
}

.section-heading {
  color: $fearless-blue;

  &:before {
    background-color: $fearless-blue;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    vertical-align: super;
  }
}

a, button, .section-heading, .mini-title, .card-data, .definition-data__title {
  font-family: "Poppins Bold", sans-serif;
}

.extended.home-section {
  h3 {
    color: $fearless-blue;
  }
}