@import "variables";

.card {

  border-radius: 16px;
  border: 1px solid $fearless-black;

  img.card__image {
    border-radius: 16px 16px 0px 0px;
  }

  .card__image-top {
    width: 8em;
    align-content: center;
    margin: auto;
    border-radius: 50%;
  }

  .card__content {
    text-align: center;
    margin: auto;
    .card__title.card__link {
      color: $fearless-blue;
    }
  }

 .card-data .card-data__item:last-child {
    border-right: unset;
  }

  .card__button {
    font-family: "Poppins Bold", sans-serif;
    border-radius: 16px;
  }

  .card__footer {
    border-radius: 0px 0px 16px 16px;
  }
}
