@import "variables";

.process-nav {
  .process-nav__content ul {
    padding: 1em 0 1em 0;

    li {
      box-shadow: none;

      &.is-active {
        box-shadow: none;
        background-color: $fearless-red;
        border: 1px solid $fearless-black;
        border-radius: 2em;

        a {
          color: white;
        }

        &:hover {
          text-decoration: underline;
          background-color: white;

          a {
            color: $fearless-red;
          }
        }
      }
    }
  }
}