.social-register {
    .button--social.button--decidim {
    img.icon.external-icon {
      display: block !important;
      filter: brightness(0) invert(1);
      width: auto;
      height: 100%;
    }
  }
}