@import "variables";

a.hero-cta.button {
  font-family: "Poppins Bold", sans-serif;
  background-color: $fearless-red;
  border: 1px solid $fearless-black;
  border-radius: 10em;

  &:hover {
    background-color: white;
    color: $fearless-red;
  }
}

a.button.hollow {
  font-family: "Poppins Bold", sans-serif;
  border-radius: 10em;
  border: 1px solid $fearless-black;
  color: $fearless-red;


  &:hover {
    background-color: $fearless-red;
    color: white;
  }
}