@import "variables";

section.home-section {
	#highlighted-assemblies {

		h3.section-heading {
			text-align: center;
			color: $fearless-blue;
			
			&:before {
				background: none;
			}
		}

		.card {
			background: none;
			border: unset;

			.card__image-top {
				width: 8em;
				align-content: center;
				margin: auto;
				border-radius: 50%;
			}

			.card__content {
				text-align: center;
				margin: auto;
				.card__title.card__link {
					color: $fearless-blue;
				}
			}
		}
	}
}