@import "variables";

.title-bar {
  a {
    font-family: "Poppins Bold", sans-serif;
    color: $fearless-blue;
  }
}

.navbar {
  background-color: white;
  padding-bottom: 1em;

  .main-nav ul {
    text-transform: uppercase;

    .main-nav__link {
      a {
        color: $fearless-blue;
        box-shadow: none;

        &:hover {
          box-shadow: none;
          text-decoration: underline;
        }
      }

      &.main-nav__link--active a {
        box-shadow: none;
        border: 1px solid $fearless-black;
        border-radius: 10em;
        color: $fearless-blue;
        background-color: $fearless-red;
        color: white;

        &:hover {
          box-shadow: none;
          background-color: white;
          text-decoration: none;
          color: $fearless-red;
        }
      }
    }
  }
}
